$panel-heading-background-color: #48c774;
$panel-heading-color: white;
// if you use .is-success it will override your override
// if you wish to override in bulma you must have your values before the import

input {
    margin-right: 10px;
}

.taskInput {
    padding-left: 0px;
    padding-top: 12px;
    padding-right: 12px;
}

#btnAddTask {
    width: 100%;
    height: 100%;
}